# render.yaml
services:
  - type: web
    name: flask-auth-app
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python app.py
    envVars:
      - key: PORT
        value: 10000
    healthCheckPath: /access-jwt